<mat-toolbar color="primary">
    <span routerLink="/dashboard" >Nutri2</span>
    <span class="elementosNav"></span>
    <button mat-button routerLink="/dashboard/consultas">Consultas</button>
    <button mat-button routerLink="/dashboard/facturacion">Facturación</button>
    <button mat-button routerLink="/dashboard/nutricionistas">Nutricionistas</button>
    <span class="elementosNav"></span>
    <button routerLink = "/logout" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>logout</mat-icon>
      </button>
      
</mat-toolbar>