table {
    width: 100%;
    margin-top: 1%;
  }

  .pointer {
    cursor: pointer;
  }

  .mat-form-field {
    margin-top: 1%;
    font-size: 14px;
    width: 100%;
  }
<<<<<<< HEAD
  .distribucionHeader{
=======
<<<<<<< HEAD
  .distribucionHeader{
=======
  .botonAdd{
>>>>>>> d692c596356868c2e7493ab63bd6a840fa45bad2
>>>>>>> 60e95e9b6e9c63591b124d480fbad0747fb0efc2
    flex: 1 1 auto;
  }
