<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 60e95e9b6e9c63591b124d480fbad0747fb0efc2
.formContainer {
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form-full-width {
  width: 100%;
<<<<<<< HEAD
}

td {
  padding-right: 8px;
}

.icon {
  font-size: 17px;
}

.preffix {
  font-size: 13px;
}

.buttonContainer {
  display: flex;
  align-content: center;
  justify-content: center;
=======
>>>>>>> 60e95e9b6e9c63591b124d480fbad0747fb0efc2
}

td {
  padding-right: 8px;
}

.icon {
  font-size: 17px;
}

.preffix {
  font-size: 13px;
}

.buttonContainer {
  display: flex;
  align-content: center;
  justify-content: center;
}

=======
.container {
    margin-top: 2%;
    margin-left: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
 .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20%;
}
.ancho {
    width: 80%;
}

>>>>>>> d692c596356868c2e7493ab63bd6a840fa45bad2
.aceptarbtn {
  margin-right: 2%;
}
